body {
  margin: 0;
  padding: 0;
}

/* font-family: 'Poppins', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Roboto', sans-serif; */
.container {
  padding: 0;
}

.row {
  margin: 0;
}
.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.nav-item a {
  color: #000000;
  font-family: 'Poppins', sans-serif;
}

.nav-item a:hover {
  color: #8900ff;
}

.fold {
  padding-top: 50px;
}

.fold h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 6.5rem;
  line-height: 105px;
}

.fold p{
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
}

.fold span {
  color: #8900ff;
}

.section1 {
  padding-top: 100px;
}

.section1 .skewed {
  -ms-transform: skewY(-5deg); /* IE 9 */
  -webkit-transform: skewY(-5deg); /* Safari */
  transform: skewY(-5deg);
  background: #7F00FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.unskew{
  -ms-transform: skewY(5deg); /* IE 9 */
  -webkit-transform: skewY(5deg); /* Safari */
  transform: skewY(5deg);
}

.section1 .skewed .text {
  padding-top: 90px;
  padding-bottom: 140px;
  overflow: auto;
}

 .section1-title {
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  color: white;
  line-height: 60px;
}

.quotation p {
    padding-top: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.italic {
  font-style: italic;
}

.knowmore button {
  width: 300px;
  background-color: transparent;
  border-radius: 10px;
  height: 50px;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  border: 2px solid;

}

.knowmore button:hover {
  background-color: #ffd800;
  color: black;
  cursor: pointer;
  border: 2px solid white;
}

.section2 {
  margin-top: 150px;
  padding-bottom: 200px;
}

.icon-container {
  width:200px;
  margin: 10px;
}

.icon-style {
  font-size:5em; color:#9803ff;
  text-align: center;
}

.icon-header {
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  text-align: center;
}

.icon-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.icon-body {
  text-align: center;
}

.section3 {
  background: #6a3093;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #a044ff, #6a3093);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #a044ff, #6a3093); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-top: 40px;
  padding-bottom: 40px;
}

.section3-title {
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  color: white;
  line-height: 60px;
  text-align: center;
}

.section3-sub {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  line-height: 60px;
  text-align: center;
}

.section-3-item-container{
  background-color: white;
  text-align: center;
  margin-bottom: 40px;
  border: 10px solid #a14bff;
}

.section-3-item-title {
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 26px;
  width: 100%;
  padding-top: 5px;
  background: #FF8008;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #FFC837, #FF8008);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #FFC837, #FF8008); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-left: 20px;
  color: white;
}

.section-3-item-title p {
  text-align: center;
}

.section-3-item-title-ch {
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 26px;
  width: 100%;
  padding-top: 5px;
  background: #4776E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding-left: 20px;
  color: white;
}

.section-3-item-body {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  text-align: left;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 15px;
}

.section-3-item-body p {
  width: 100%;
  margin: 0;
  padding: 0;
}

.section-3-item-price {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  text-align: left;
  padding-left: 40px;
  font-size: 20px;
}

.section-3-item-body a {
  text-align: center;
}

.section-3-item-description {
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
}

.section-3-item-description div {
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
}

.section-3-note {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: white;
  padding-right: 50px;
  padding-left: 50px;
}

.section-3-order {
  padding-top: 50px;
}

.btnStyle {
  width: 50%;
  height: 80px;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  line-height: 10px;
  border: 4px solid white;
}

.contact-details {
  margin-top: 50px;
}

.footer-img {
  margin-top: 20px;
}

strong {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
}

.c-details {
  font-size: 1rem;
}

.rights {
  width: 100%;
}

.rights-credits {
  font-size: 0.5rem;
  width: 100%;
}
